.button {
  color: $button-color;
  background-color: $button-background-color;
  padding: $s-size;
  border: none;
  border-bottom: 0.3rem solid darken($button-background-color, 10%);
  border-radius: 6px;
}

.big-button {
  width: 100%;
  font-size: $big-button-fontsize;
  padding: $m-size;
  margin-bottom: $xl-size;
  border-bottom: 0.6rem solid darken($button-background-color, 10%);
  font-weight: bold;
}

.big-button:disabled {
  opacity: 0.6;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}

.button--link {
  color: $button--link-color;
  background: $button--link-background-color;
  border: 1px solid $button--link-border-color;
  padding: 0.5rem;
}