.button {
  color: $button-color;
  background-color: $button-background-color;
  padding: $s-size;
  border: none;
  border-bottom: 0.3rem solid darken($button-border-color, 10%);
  border-radius: 6px;
}

.big-button {
  width: 100%;
  font-size: $big-button-fontsize;
  padding: $m-size;
  margin-bottom: $xl-size;
  border-bottom: 0.6rem solid darken($button-border-color, 10%);
  font-weight: bold;
}

@media (max-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $m-size;
  }
}

.button--link {
  color: $button--link-color;
  background-color: $button--link-background-color;
  border: 1px solid $button-border-color;
  padding: 0.5rem;
  // transition: color 0.36s;
  transition: background-color 0.36s;
}

.button--link:hover {
  color: $button--link-background-color;
  background-color: $button--link-color;
}