.header { 
  color: $header-color;
  background-color: $header-background-color;
  margin-bottom: $xl-size;
  padding: $m-size 0;
  text-align: center;
}

.header__title {
  font-size: $header-title-fontsize;
  padding: $s-size $l-size $l-size;
  margin: 0;
}

.header__subtitle {
  font-size: $header-subtitle-fontsize;
  font-weight: 500;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}