.widget {
  background-color: $widget-background-color;
  margin-bottom: $l-size;
}

.widget-header {
  background-color: $widget-header-background-color;
  display: flex;
  padding: $m-size;
  justify-content: space-between;
  border-bottom: 1px solid darken($widget-background-color, 10%);
}

.widget__message {
  font-size: $middle-fontsize;
  text-align: center;
  padding: $s-size;
}

.widget-header__title {
  margin: 0.6rem;
}