#app {
	height: 100%;
}

.wrapper {
  display: grid; 
  grid-template-rows: auto 1fr auto;
	min-height: 100%;
}

footer {
	height: 6.5rem;
	padding: 1rem 3.6rem 0 1rem;
	line-height: 1.5;
	/* use grid to implement sticky footer */
  grid-row: 3 / 4;
}