html {
  font-size: 62.5%;
}

body {
  font-family: STFangsong, "Songti TC", Georgia, simsun, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #2C3E50;
  background-color: #F9F9F5;
}