html {
  font-size: 62.5%;
}

body {
  font-size: $basic-fontsize;
  line-height: $l-size;
  font-family: STFangsong, "Songti TC", Georgia, simsun, Arial, sans-serif;
  color: $body-color;
  background-color: $body-background;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}